mixin header(content)
  header.header
    .header__site-logo
      a(href="index.html")
        img(src= "img/logo.svg" width="242")
    .header__tel-number +7 (495) 662 76 77
    
    +select-list()
  block
