include ../select-list/select-list.pug

mixin header(content)
  header.header
    .header__site-logo
      a(href="index.html")
        img(src= "img/logo.svg" width="242")
    .header__tel-number +7 (495) 662 76 77
    
    .header__selected-lang= langs[selected_lang_index]
      +select-list()
  block
