.sidebar {
  display: flex;
  min-width: 292px;
  margin: 0;
  height: 100%;

  background-color: #f2f1f1;

  flex-direction: column;
  flex-grow: 1;
  // flex-wrap: wrap-reverse;

  &__main {
    display: flex;
    padding: 56px 0;
    padding-left: 56px;
    // padding: 56px 50px 46px 56px;

    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  &__menu {
    margin: 0;

    list-style: none;
  }

  &__buttons {
    margin-top: 10px;
  }

  &__footer {
    display: flex;
    margin-bottom: 0;
    
    background-color: $FOOTER-COLOR;

    flex-basis: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 0 0 auto;
  }

  &__footer-link {
    @extend .DOWNLOAD-PDF;
    
    margin-top: 20px;
    padding: 12px;

    a {
      position: relative;
      left: 25px;

      color: $TEXT-COLOR;

      border-bottom: 1px dotted #897b84;

      text-decoration: none;

      &:hover {
        color: rgba(76, 52, 64, 0.5);

        border-bottom: none;
      }

      &::before {
        position: absolute;
        top: -10px;
        left: -50px;
        z-index: 10;

        display: block;
        width: 42px;
        height: 32px;
        
        background: url($IMAGES-PATH + "iconpdf.png") no-repeat;
        background-size: 42px 32px;
        
        content: "";
      }
    }
  }

  &__footer-copyright {
    @extend .COPYRIGHT;
    
    margin-bottom: 20px;
    padding: 12px;
    
    color: rgba(0, 0, 0, 0.5);    
  }
}