include ../menu/menu.pug

mixin sidebar(current_page_index)
  aside.sidebar

    .sidebar__main
      +menu(current_page_index)
      +buttons-list()

    footer.sidebar__footer
      .sidebar__footer-link.btn-download
        a(href="#") Скачать &laquo;Услуги FWR&raquo;
      .sidebar__footer-copyright &copy; 2009-2017 АО &laquo;Райффайзенбанк&raquo;
  block