include build/project.pug

-
  var current_page_index = 1;

  var content = {
    title: "Получить финансирование",
    image_url: "img/bank.png",
    image_width: 403,
    image_height: 550,
    text: [
      "A decade ago, banks were the first place you’d go to if you wanted a business loan. But after the 2008 recession, things changed. Banks started tightening access to credit and adding stricter qualification criteria for loans. As a result, very few small business owners were able to get the funding they needed from banks.",
      "Fortunately, there’s been a resurgence in bank lending to small businesses. Large banks now approve a quarter of small business loan applications, and regional and community banks approve nearly one half of small business loan applications.",
      "Although things are looking up for business owners who want to apply for bank loans, these stats indicate that your choice of bank matters. Some banks have a proven reputation for helping small businesses and are more committed to working with small businesses.",
      "We rank the best banks for business loans and tell you what you need to qualify and apply."
    ],
    promo_text: "Узнать об инвестиционных решениях Friedrich Wilhelm Raiffeisen <a class='content__about_promo-link' href='#'>в Вене</a>"
  }

+page(content, current_page_index)