doctype html
html(lang="ru")
  head
    link(rel='stylesheet', href='style.css')
  body
    .wrapper
      .main
        header.header
          .header__site-logo
            a(href="index.html")
              img(src="img/logo.svg" width="242")
          .header__tel-number +7 (495) 662 76 77
          ul.header__choose-lang.select-list
            li.select-list__item Ru
            li.select-list__item En
            li.select-list__item De
        .content
          .content__bank-picture
            img(src="img/bank.png" width="403" height="550")
          h1.content__title Сохранить и преумножить
          .content__about
            p
              | Обслуживание в московском офисе Friedrich Wilhelm Raiffeisen сочетает в себе преимущества индивидуального клиентского 
              | сервиса в Москве с инвестиционными решениями, разработанными в центральном офисе Группы Райффайзен в Вене.
            p
              | Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет 
              | открытие и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг 
              | через платформы в России и за рубежом. 
            p
              | Специалисты Friedrich Wilhelm Raiffeisen в Австрии разрабатывают индивидуальные стратегии доверительного управления активами 
              | и осуществляют формирование индивидуального портфеля, отвечающего инвестиционным потребностям клиента.
            p
              | Friedrich Wilhelm Raiffeisen оказывает брокерские, консультационные и аналитические услуги, предоставляет гибкие депозитные 
              | предложения и обслуживает счета в 11 валютах. 
            p.content__about_promo-text Узнать об инвестиционных решениях Friedrich Wilhelm Raiffeisen 
              a.content__about_promo-link(href="#") в Вене
      aside.sidebar
        .sidebar__main
          nav.sidebar__menu.menu
            li.menu__item
              a(href="#") Сохранить и преумножить
            li.menu__item
              a(href="#") Получить финансирование
            li.menu__item
              a(href="#") Решения для вашего бизнеса
            li.menu__item
              a(href="#") Расчетно-кассовое обслуживание
            li.menu__item
              a(href="#") Решения для вашей семьи/Консалтинг
            li.menu__item_break-line
            li.menu__item
              a(href="#") О нас
            li.menu__item
              a(href="#") Контактная информация
          ul.sidebar__buttons.buttons-list
            li.buttons-list__btn.buttons-list__btn_opened
              a(href="#") Raiffesien-Online
            li.buttons-list__btn
              a(href="#") R-Dealer
        footer.sidebar__footer
          .sidebar__footer-link.btn-download
            a(href="#") Скачать "Услуги FWR"
          .sidebar__footer-copyright &copy; 2009-2017 АО "Райффайзенбанк"