include build/project.pug

-
  var current_page_index = 0;

  var content = {
    title: "Сохранить и преумножить",
    image_url: "img/bank.png",
    image_width: 403,
    image_height: 550,
    text: [
      "Обслуживание в московском офисе Friedrich Wilhelm Raiffeisen сочетает в себе преимущества индивидуального клиентского сервиса в Москве с инвестиционными решениями, разработанными в центральном офисе Группы Райффайзен в Вене.",
      "Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет открытие  и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг через платформы в России и за рубежом.",
      "Специалисты Friedrich Wilhelm Raiffeisen в Австрии разрабатывают индивидуальные стратегии доверительного управления активами и осуществляют формирование индивидуального портфеля, отвечающего инвестиционным потребностям клиента.",
      "Friedrich Wilhelm Raiffeisen оказывает брокерские, консультационные и аналитические услуги, предоставляет гибкие депозитные предложения и обслуживает счета в 11 валютах."
    ],
    promo_text: "Узнать об инвестиционных решениях Friedrich Wilhelm Raiffeisen <a class='content__about_promo-link' href='#'>в Вене</a>"
  }

doctype html
html(lang="ru")
  head
    link(rel='stylesheet', href='styles/styles.css')
  body
    .wrapper
      .main
        +header()
        +content( content )

      +sidebar( current_page_index )