.buttons-list {
  margin: 0;
  // margin-top: 54px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  margin-left: 56px;

  font-size: 0;
  
  list-style: none;
  
  &__btn,
  &__btn_opened {
    @extend .BANK-BUTTON; 
    display: inline-block;
    // margin-right: -1px; 
    padding: 0;
  }

  &__btn {
    a {
      display: block;
      padding: 8px 12px;

      color: $TEXT-COLOR;

      border: 1px solid #b3aaaf;

      text-decoration: none;
    }

    &:hover a {
      color: white;

      background-color: #6d5b66;
      border-color: #6d5b66;
    }
  }

  &__btn_opened {
    a {
      background-color: #b3aaaf;
      color: white;
    }
  }
}