mixin buttons-list() 
  ul.sidebar__buttons.buttons-list
    li.buttons-list__btn.buttons-list__btn_opened
      a(href="#") Raiffesien-Online
    li.buttons-list__btn
      a(href="#") R-Dealer
  block