.select-list {
	position: relative;
	margin-top: 5px;

	&::before {
		position: absolute;
		top: -8px;
		left: -30px;
		
		display: block;
		content: "";
		width: 2px;
		height: 38px;
		
		background-image: linear-gradient(to right, #dcd9da, #c7c0c3);
	}

	&__item {
		@extend .HEADER-LANG-ITEM;

		display: none;
		
		text-transform: uppercase;

		&_chosen {
			display: block;
		}
	}

	&::after {
		position: absolute;
		top: 3px;
    	left: 25px;

		display: block;
  		padding: 3px;
		
		border: solid rgba($TEXT-COLOR, 0.5);
  		border-width: 0 2px 2px 0;
  		
    	transform: rotate(45deg);

    	content: "";
	}
}