.select-list {
  position: absolute;
  top: -14px;
  left: 0px;

  display: none;
  width: 40px;
  padding: 0;

  outline: 10px solid #fdfdfd;
  list-style: none;

  &__item {
    @extend .HEADER-LANG-ITEM;

    color: $TEXT-COLOR;

    text-transform: uppercase;

    &:hover {
      color: $TEXT-HOVERED-COLOR;
    }
  }
}