.select-list {
  position: absolute;
  top: -16px;
  left: -40px;

  display: none;

  list-style: none;

  &__item {
    @extend .HEADER-LANG-ITEM;

    line-height: 1.5;
    color: $TEXT-COLOR;

    text-transform: uppercase;

    &:hover {
      color: $TEXT-HOVERED-COLOR;
    }
  }
}