.content {

  // font-size: 20px;

  &__title {
    @extend .CONTENT-TITLE;
    color: $COLOR-TEXT;
  }

  &__about {
    @extend .CONTENT-TEXT;

    &_promo-text {
      color: #6d5b66;
    }

    &_promo-link {
      color: #6d5b66;
      text-decoration: none;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        bottom: 5%;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(#f2f1f1, #6d5b66);
        background-color: #6d5b66;
      }

      &::after {
        position: absolute;
        content: "\2192";
        margin-left: 5px;
      }
    }
  }
}