.content {
  margin-top: auto;
  margin-bottom: auto;

  padding-bottom: 150px;

  &__bank-picture {
    float: left;
    margin-right: 20px;
  }

  &__title {
    @extend .CONTENT-TITLE;

    font-weight: normal;
    color: $TEXT-COLOR;
  }

  &__about {
    @extend .CONTENT-TEXT;

    width: 50%;
    height: 440px;
    padding: 0px;

    column-count: 2;
    column-gap: 50px;

    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
    
    &_promo-text {
      color: $PROMO-TEXT-COLOR;
    }

    &_promo-link {
      position: relative;

      color: $PROMO-TEXT-COLOR;
      
      text-decoration: none;

      &::before {
        position: absolute;
        bottom: 5%;
        left: 0;

        width: 100%;
        height: 2px;

        background-image: linear-gradient(#f2f1f1, $PROMO-TEXT-COLOR);
        background-color: $PROMO-TEXT-COLOR;

        content: "";
      }

      &::after {
        position: absolute;
        content: "\2192";
        margin-left: 5px;
      }
    }
  }
}