.content {
  display: flex;
  height: 100%;

  flex-flow: column wrap;
  align-items: flex-start;

  overflow: hidden;

  &__bank-picture {
    flex-basis: 100%;
  }

  &__title {
    @extend .CONTENT-TITLE;

    font-weight: normal;
    color: $TEXT-COLOR;
  }

  &__about {
    @extend .CONTENT-TEXT;
    width: 50%;
    margin-right: 330px;
    padding: 0;

    column-count: 2;
    column-gap: 50px;
    
    &_promo-text {
      color: $PROMO-TEXT-COLOR;
    }

    &_promo-link {
      position: relative;

      color: $PROMO-TEXT-COLOR;
      
      text-decoration: none;

      &::before {
        position: absolute;
        bottom: 5%;
        left: 0;

        width: 100%;
        height: 2px;

        background-image: linear-gradient(#f2f1f1, $PROMO-TEXT-COLOR);
        background-color: $PROMO-TEXT-COLOR;

        content: "";
      }

      &::after {
        position: absolute;
        content: "\2192";
        margin-left: 5px;
      }
    }
  }
}