@charset "UTF-8";
/**
 * телефон в хедере
 */
.HEADER-PHONE, .header__tel-number {
  font-family: "Futura New Light";
  font-size: 24px; }
  @media screen and (min-width: 1600px) {
    .HEADER-PHONE, .header__tel-number {
      font-size: 32px;
      line-height: 27px; } }

/**
 * выбор языка в хедере
 */
.HEADER-LANG-ITEM, .header__selected-lang, .select-list__item {
  font-family: "Futura New Book";
  font-size: 12px; }
  @media screen and (min-width: 1600px) {
    .HEADER-LANG-ITEM, .header__selected-lang, .select-list__item {
      font-size: 14px;
      line-height: 18px; } }

/**
 * заголовок контента
 */
.CONTENT-TITLE, .content__title {
  font-family: "Futura New Light";
  font-size: 36px; }
  @media screen and (min-width: 1600px) {
    .CONTENT-TITLE, .content__title {
      font-size: 48px;
      line-height: 54px; } }

/**
 * основной контент
 */
.CONTENT-TEXT, .content__about {
  font-family: "Futura New Light";
  font-size: 15px; }
  @media screen and (min-width: 1600px) {
    .CONTENT-TEXT, .content__about {
      font-size: 18px;
      line-height: 27px; } }

/**
 * пункт главного меню
 */
.MAIN-MENU-ITEM, .menu__item a {
  font-family: "Futura New Book";
  font-size: 24px; }
  @media screen and (min-width: 1600px) {
    .MAIN-MENU-ITEM, .menu__item a {
      font-size: 21px;
      line-height: 24px; } }

/**
 * пункт главного меню при нажатии
 */
.MAIN-MENU-ITEM-ACTIVE, .menu__item_opened a {
  font-family: "Futura New Demi";
  font-size: 24px; }
  @media screen and (min-width: 1600px) {
    .MAIN-MENU-ITEM-ACTIVE, .menu__item_opened a {
      font-size: 21px;
      line-height: 24px; } }

/**
 * текст внутри кнопки банка
 */
.BANK-BUTTON, .buttons-list__btn, .buttons-list__btn_opened {
  font-family: "Futura New Light";
  font-size: 18px; }
  @media screen and (min-width: 1600px) {
    .BANK-BUTTON, .buttons-list__btn, .buttons-list__btn_opened {
      font-size: 14px;
      line-height: 18px; } }

/**
 * скачивание pdf-файла
 */
.DOWNLOAD-PDF, .sidebar__footer-link {
  font-family: "Futura New Light";
  font-size: 12px; }
  @media screen and (min-width: 1600px) {
    .DOWNLOAD-PDF, .sidebar__footer-link {
      font-size: 14px;
      line-height: 27px; } }

/**
 * копирайт
 */
.COPYRIGHT, .sidebar__footer-copyright {
  font-family: "Futura New Light";
  font-size: 10px; }
  @media screen and (min-width: 1600px) {
    .COPYRIGHT, .sidebar__footer-copyright {
      font-size: 12px;
      line-height: 27px; } }

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"), url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"), url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"), url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura New Light';
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"), url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-weight: 300;
  font-style: normal; }

html {
  height: calc(100% - 40px); }

body {
  height: 100%;
  margin: 0;
  padding: 20px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  background-color: #f9f9f8; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 292px;
  margin: 0;
  height: 100%;
  background-color: #f2f1f1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }
  .sidebar__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 56px 50px 46px 56px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .sidebar__menu {
    margin: 0;
    list-style: none; }
  .sidebar__buttons {
    margin-top: 10px; }
  .sidebar__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    background-color: #f8f7f7;
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sidebar__footer-link {
    margin-top: 20px;
    padding: 12px; }
    .sidebar__footer-link a {
      position: relative;
      left: 25px;
      color: #4c3440;
      border-bottom: 1px dotted #897b84;
      text-decoration: none; }
      .sidebar__footer-link a:hover {
        color: rgba(76, 52, 64, 0.5);
        border-bottom: none; }
      .sidebar__footer-link a::before {
        position: absolute;
        top: -10px;
        left: -50px;
        z-index: 10;
        display: block;
        width: 42px;
        height: 32px;
        background: url("../img/iconpdf.png") no-repeat;
        background-size: 42px 32px;
        content: ""; }
  .sidebar__footer-copyright {
    margin-bottom: 20px;
    padding: 12px;
    color: rgba(0, 0, 0, 0.5); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px; }
  .header__site-logo {
    margin-right: auto; }
  .header__tel-number {
    position: relative;
    padding: 0; }
    .header__tel-number::after {
      position: absolute;
      top: -5px;
      right: -30px;
      display: block;
      content: "";
      width: 2px;
      height: 38px;
      background-image: -webkit-gradient(linear, left top, right top, from(#dcd9da), to(#c7c0c3));
      background-image: -webkit-linear-gradient(left, #dcd9da, #c7c0c3);
      background-image: -o-linear-gradient(left, #dcd9da, #c7c0c3);
      background-image: linear-gradient(to right, #dcd9da, #c7c0c3); }
  .header__selected-lang {
    position: relative;
    height: 18px;
    margin: 5px -5px 0 60px;
    padding: 0;
    text-transform: uppercase;
    list-style: none; }
    .header__selected-lang::after {
      position: absolute;
      top: 3px;
      left: 25px;
      opacity: 1;
      display: block;
      padding: 3px;
      border: solid rgba(76, 52, 64, 0.5);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: ""; }
    .header__selected-lang:hover {
      color: transparent; }
    .header__selected-lang:hover .select-list {
      display: block;
      cursor: pointer; }
    .header__selected-lang:hover::after {
      -webkit-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
      opacity: 0; }

.select-list {
  position: absolute;
  top: -16px;
  left: -40px;
  display: none;
  list-style: none; }
  .select-list__item {
    line-height: 1.5;
    color: #4c3440;
    text-transform: uppercase; }
    .select-list__item:hover {
      color: rgba(76, 52, 64, 0.5); }

.content {
  margin-top: auto;
  margin-bottom: auto; }
  .content__bank-picture {
    float: left; }
  .content__title {
    font-weight: normal;
    color: #4c3440; }
  .content__about {
    width: 50%;
    height: 440px;
    padding: 0px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    column-gap: 50px; }
    .content__about p {
      margin-top: 0;
      margin-bottom: 30px; }
    .content__about_promo-text {
      color: #6d5b66; }
    .content__about_promo-link {
      position: relative;
      color: #6d5b66;
      text-decoration: none; }
      .content__about_promo-link::before {
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f1f1), to(#6d5b66));
        background-image: -webkit-linear-gradient(#f2f1f1, #6d5b66);
        background-image: -o-linear-gradient(#f2f1f1, #6d5b66);
        background-image: linear-gradient(#f2f1f1, #6d5b66);
        background-color: #6d5b66;
        content: ""; }
      .content__about_promo-link::after {
        position: absolute;
        content: "\2192";
        margin-left: 5px; }

.menu__item {
  margin-bottom: 26px; }
  .menu__item_break-line {
    width: 65px;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #d7d3d5; }
  .menu__item a {
    position: relative;
    color: #4c3440;
    text-decoration: none; }
    .menu__item a:hover {
      color: rgba(76, 52, 64, 0.5); }
  .menu__item_opened a {
    color: #9f9298; }
    .menu__item_opened a::before {
      position: absolute;
      bottom: 0;
      left: -5%;
      width: 110%;
      height: 10px;
      background-color: rgba(108, 91, 101, 0.2);
      content: "";
      z-index: 1; }

.buttons-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none; }
  .buttons-list__btn, .buttons-list__btn_opened {
    display: inline-block;
    margin-right: -1px;
    padding: 0; }
  .buttons-list__btn a {
    display: block;
    padding: 10px;
    color: #4c3440;
    border: 1px solid #b3aaaf;
    text-decoration: none; }
  .buttons-list__btn:hover a {
    color: white;
    background-color: #6d5b66;
    border-color: #6d5b66; }
  .buttons-list__btn_opened a {
    background-color: #b3aaaf;
    color: white; }
