.menu {
  &__item {
    break-word: nowrap;
    width: 175px;

    margin-bottom: 26px;

    &_break-line {
      width: 65px;
      height: 1px;
      margin-top: 36px;
      margin-bottom: 36px;

      background-color: #d7d3d5;
    }

    a {
      @extend .MAIN-MENU-ITEM;
      position: relative;

      color: $TEXT-COLOR;
      
      text-decoration: none;
      
      &:hover {
        color: $TEXT-HOVERED-COLOR;
      }


      @media (max-height: 860px) {
        font-size: 1.3vw;
        line-height: 0.75;
      }

      @media (max-height: 600px) {
        font-size: 1.2vw;
        line-height: 0.5;
      }
    }

    @media (max-height: 660px) {
        margin-bottom: 20px;
    }

    @media (max-height: 600px) {
        margin-bottom: 10px;
    }

    &_opened a {
      @extend .MAIN-MENU-ITEM-ACTIVE;

      color: #9f9298;

      &::before {
          position: absolute;
          bottom: 0;
          left: -5%;

          width: 110%;
          height: 10px;

          background-color: rgba(108, 91, 101, 0.2);

          content: "";
          z-index: 1;
        }
    } 
  }
}