.menu {
  &__item {
    
    
    a {
      @extend .MAIN-MENU-ITEM;
      color: $TEXT-COLOR;
      text-decoration: none;
      position: relative;
      z-index: 2;
    }

    &:active {
      @extend .MAIN-MENU-ITEM-ACTIVE;
      opacity: 0.5;
    }
  }


}