.menu {
  
  &__item {

    margin-bottom: 26px;

    &_break-line {
      width: 65px;
      height: 1px;
      margin-top: 32px;
      margin-bottom: 32px;
      
      background-color: #d7d3d5;
    }

    a {
      @extend .MAIN-MENU-ITEM;

      position: relative;

      color: $TEXT-COLOR;
      
      text-decoration: none;
      
      &:hover {
        color: $TEXT-HOVERED-COLOR;
      }
    }

    &_opened a {
      @extend .MAIN-MENU-ITEM-ACTIVE;

      color: #9f9298;

      &::before {
          position: absolute;
          bottom: 0;
          left: -5%;

          width: 110%;
          height: 10px;

          background-color: rgba(108, 91, 101, 0.2);

          content: "";
          z-index: 1;
        }
    } 
  }
}